
.container {
    box-sizing: border-box;
    max-width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}


a , h1 , p , h3 , h2 , h4, blockquote {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    color: var(--cor-11);
}

body {
    padding: 0px;
    margin: 0px;
}

img {
    max-width: 100%;
    display: block;
}

img[src$=".jpg"] {
    border-radius: 5px;
}


ul, li {
    text-decoration: none;
    list-style: none;
    padding: 0px;
}

.link {
    display: inline-block;
    color: var(--cor-p1);
    font: 500 1.5rem/1.5 "Poppins", sans-serif;
    text-transform: uppercase;
}

.link::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color:currentColor; /**usa a cor do pai*/
}

.link:hover {
    color: var(--cor-0);
}