

.header-bg {
    background-color: black;
    margin: 0px;
    padding: 0px;
}

.header {
    max-width: 1000px;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0px;
    box-sizing: border-box;
}

.header-menu {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    gap: 60px;
}


.header-menu a {
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 4px;
    position: relative;
}


.header-menu a::after {
    content: "";
    display: block;
    height: 2px;
    width: 0%;
    background: #ffffff;
    transition: 0.3s;
    position: absolute;
    margin-top: 4px;
}


.header-menu a:hover:after {
    width: 100%;
}

@media (max-width: 800px) {
    .header {
        max-width: 1200px;
        margin: 0px auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 30px 0px;
    }

    .header-menu {
        display: flex;
        flex-wrap: wrap;
        padding: 0px;
        gap: 60px;
        margin-top: 40px;
    }

    .header-menu a{
        background-color: rgb(41, 40, 40);
    }


    .header-menu a::after {
        display: none;
    }
    
}